*{
    margin: 0;
    box-sizing: border-box;
    }
    
    body{
        font-family: sans-serif;
        background-image: url(fondo.png);
        color: white;
    }
    
    .header{
        background-color: #425065;
        height: 60px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        max-width: 100vw; 
        margin: 0 auto; 
    }
    
    .nav-link{
        color: white;
        text-decoration: none;
    }
    
    .logo{
        font-size: 30px;
        font-weight: bold;
        padding: 0 40px;
        line-height: 60px;
    }
    
    .nav-menu{
        display: flex;
        margin-right: 40px;
        list-style: none;
    }
    
    .nav-menu-item{
        font-size: 18px;
        margin: 0 10px;
        line-height: 60px;
        text-transform: uppercase;
        width: max-content;
    }
    
    .nav-menu-link{
        padding: 8px 12px;
        border-radius: 3px;
    }
    
    .nav-menu-link:hover, 
    .nav-menu-link_active {
        background-color: #2a4875;
        transition: 0.5s;
        
    }
    
    .nav-toggle{
        color: white;
        background: none;
        border: none;
        font-size: 30px;
        padding: 0 20px;
        line-height: 60px;
    
        display: none;
    }
    
    main{
        padding: 60px 10px 0 10px;
    }
    
    .imagen-ernesto {
        border-radius: 100px;
        height: 200px;
    }

    .imagen{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .titulo {
        display: flex;
        justify-content: center;
    }

    .nav-datos{
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .div-datos{
        display: flex;
        justify-content: center;
    }

    .li-datos{
        display: flex;
        list-style: none;

    }
    .art-presentacion{
        justify-content: center;
        padding: 20px;
        background-color: #202732;
        
    }
    .presentacion{
        text-align: center;
    }
    .art-competencias{
        justify-content: center;
    }
    .div-competencias{
        display: flex;
        justify-content: center;
    }
    .imagen-competencias{
        height: 200px;
        margin: 30px;
    }

    .art-experiencia{
        display: flex;
        justify-content: center;
        padding: 30px;
        background-color: #202732;
    }

    .experencia {
        text-align: center;
    }
    .formacion {
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    footer{
        background-color: #202732;
        height: auto;
        width: 100vw;
        margin-top: 20px;
        padding-top: 20px;
    }
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: 500px;
        margin: 0px;
        line-height: 28px;
        font-size: 14px;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 1rem 0;
    }
    .socials li{
        margin: 0 15px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
    }
    .socials a i{
        font-size: 1.1rem;
    }
    .socials a:hover i{
        color: #034574;
    }
    .footer-bottom{
        width: 100vw;
        text-align: center;
    }

    .form {
        display: flex;
        margin: auto;
        background-color: #2a4875;
        width: 90%;
        max-width: 400px;
        border-radius: 1em;
        padding: 3.5em 1.5em;
        
    }
    .form-container{
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
    }
    .form-title{
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: 0.4em;
    }
    .form-input{
        font-size: 1rem;
        padding: 0.4em 0.5em;
        outline: none;
        border: none;
        border: 1px solid #2a4875;
        border-radius: 10px;
    }
    .form-input--message{
        font-family: inherit;
        resize: none;
        padding: 1.8em 1em;
        margin-bottom: 0.5em;
    }
    .form-cta{
        font-family: inherit;
        font-size: 1rem;
        background-color: #202732;
        color: #fff;
        border: none;
        font-weight: 300;
        padding: 0.7em 0;
        border-radius: 10px;
        cursor: pointer;
    }
